<h1 style="text-align: center; color: rosybrown">Your IP Address: <%= @response['query'] %></h1>

<h2>City: <%= @response['city'] %></h2>
<h2>Country: <%= @response['country'] %></h2>
<h2>Country Code: <%= @response['countryCode'] %></h2>
<h2>Region: <%= @response['region'] %></h2>
<h2>Region Name: <%= @response['regionName'] %></h2>
<h2>Zip: <%= @response['zip'] %></h2>
<h2>Lat: <%= @response['lat'] %></h2>
<h2>Lat: <%= @response['lat'] %></h2>
<h2>Timezone: <%= @response['timezone'] %></h2>
<h2>ISP: <%= @response['isp'] %></h2>